.m-login-card {
    .w(360px);

    .m-card-form-label {
        .flex;
        justify-content: space-between;
        .w(100%);
    }

    .m-card-form-value {
        .flex;
        align-items: center;
        width: 100%;
        gap: 10px;
    }
}
